<div class="container">
<div class="login-form">
<div class="main-div">
    <div class="panel">
       <h3>Welcome to CMA</h3>
    </div>
    <div *ngIf="loginForm">
    <form id="Login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 
        <div class="form-group">
            <input type="email" formControlName="email" class="form-control" id="inputEmail"  placeholder="Email Address">
          <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
            <div *ngIf="loginForm.controls.name.email.required">Email Id is required</div>
          </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Password">
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div *ngIf="loginForm.controls.name.password.required">Password is required</div>
          </div>
        </div>
        
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>
    </div>
</div>
</div>